<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hot.hotshow.mapper.PublishMapper">
  <resultMap id="BaseResultMap" type="com.hot.hotshow.domain.Publish">
    <result column="time_hour" jdbcType="INTEGER" property="timeHour" />
    <result column="publish_cnt" jdbcType="INTEGER" property="publishCnt" />
  </resultMap>
  <select id="selectPublishList"  resultMap="BaseResultMap">
    select time_hour,publish_cnt from t_publish ORDER BY time_hour ;
  </select>
  <insert id="insert" parameterType="com.hot.hotshow.domain.Publish">
    insert into t_publish (time_hour, publish_cnt)
    values (#{timeHour,jdbcType=INTEGER}, #{publishCnt,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hot.hotshow.domain.Publish">
    insert into t_publish
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="timeHour != null">
        time_hour,
      </if>
      <if test="publishCnt != null">
        publish_cnt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="timeHour != null">
        #{timeHour,jdbcType=INTEGER},
      </if>
      <if test="publishCnt != null">
        #{publishCnt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>